@import url('https://fonts.googleapis.com/css?family=Freehand');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.title {
    font-size: 2rem;
}

@media screen and (max-width: 430px) {
    .title {
        font-size: 20px;
    }
}

.container {
    margin: 1rem;
    text-align: center;
}

.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 1rem 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav li:hover {
    background-color: #555;
}

.nav li.active {
    background-color: #555;
}

.nav a {
    color: rgb(253, 219, 145);
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.review-cards, .product-cards {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 10px;
    gap: 10px;
}

@media screen and (max-width: 430px) {
    .review-cards, .product-cards {
        display: flex;
        overflow-x: scroll;
        gap: 10%;
    }
}

.review-card, .product-card {
    text-align: center;
    margin-bottom: 10px;
    min-width: 250px;
    max-width: 300px;
    min-height: 60%;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(253, 219, 145);
    transition: box-shadow .3s;
}

.review-card:hover {
    box-shadow: 0 0 40px rgba(33,33,33,.2);
}

.product-card:hover {
    box-shadow: 0 0 40px rgba(33,33,33,.2);
}

.quote {
    font-family: Freehand;
    font-size: 35px;
}

.contact-us {
    padding: 1rem;
    font-family: sans-serif;
    background: #1a1a1a;
}

form {
    margin: 5rem auto 0;
    width: 24rem;
}

input {
    margin-bottom: 1.5rem;
    padding: 0 0.5rem;
    width: inherit;
    height: 2rem;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    height: 2.5rem;
    font-size: 1rem;
    color: black;
    background: rgb(253, 219, 145);
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
}

.social-handle-list {
    list-style: none;
    display: flex;
}

.social-handle-item {
    margin: 10px;
}

::-webkit-scrollbar {
    height: 12px;              /* height of horizontal scrollbar ← You're missing this */
    width: 10px;               /* width of vertical scrollbar */
    border: 1px solid #d5d5d5;
}
::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(253, 219, 145);
}