@import url('https://fonts.googleapis.com/css?family=Freehand');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.title {
    font-size: 2rem;
}

@media screen and (max-width: 430px) {
    .title {
        font-size: 20px;
    }
}

.container {
    margin: 1rem;
    text-align: center;
}

.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 1rem 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav li:hover {
    background-color: #555;
}

.nav li.active {
    background-color: #555;
}

.nav a {
    color: rgb(253, 219, 145);
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.product-card {
    background-color: rgb(253, 219, 145);
    text-align: left;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.quote {
    font-family: Freehand;
    font-size: 35px;
}

